:root {
    --font-base: ocr a;
    --color-text: #ffffff;
    --color-bg: #000000;
}

/* Estilos default */
body {
  margin: 0;
  background: #242424;
  font-family: monospace;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}


/* Títulos responsive */
h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-size: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}
/* layout */

footer#main-footer {
    border-top: 1px solid var(--color-text);
    margin-top: 2em;
    text-align: center;
    padding: 2em 0 1em 0;
}

/* Components */

.hero {
    text-align: center;
    padding: 1em 0;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav-link {
    color: var(--color-text);
    text-decoration: none;
    padding: 0.25em 0.5em;
    font-weight: 100;
    text-transform: uppercase;
    width: 100px;
}

body.index.html {
  margin: 20;
  padding: 20;
  font-family: "ocr-a-std", monospace;
  background-image: url('../img/logo nuevo-02.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(0, 0, 0);
}

/* Barra superior */
nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 20px;
  background: rgb(44, 44, 44);
}

nav a {
  font-family: "ocr-a-std", monospace;
  background: transparent;
  border: 1px solid rgb(0, 0, 0);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}

nav a:hover {
  background: rgba(97, 95, 95, 0.346);
  color: rgb(255, 255, 255);
}

}

/* Barra superior igual a la imagen */
.top-bar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background: #2f2f2f;
  color: white;
  border-bottom: 2px solid white;
  padding: 18px 20px;
}



.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  height: 100vh; /* toda la pantalla */
  padding: 20px;
  box-sizing: border-box;
}

.foto {
  position: relative;
  background: #ddd;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Imagen dentro de cada rectángulo */
.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Título */
.titulo {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
  font-weight: bold;
  font-family: monospace;
}

/* GRID */
.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

/* Cada rectángulo */
.foto {
  position: relative;
  background: #ddd;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Título */
.titulo {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
  font-weight: bold;
  font-family: monospace;
}

/* Imagen */
.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}